<% var artist = concert.artist() %>
<% var locale = concert.locale() %>
<h1><a href="/#/artists/<%= artist.id %>"><%= artist.escape('name') %></a><h1>
<h2><%= concert.date() %>
<a href="/#/locales/<%= locale.id %>">
  <%= locale.escape('city') %>, <%= locale.escape('state') %>
</a></h2>
<% if (ids && ids.indexOf(concert.id) === -1) { %>
  <button class="track track-concert">Track event</button>
<% } else { %>
  <button class="untrack untrack-concert">Stop tracking</button>
<% } %>
