<% var artist = concert.artist() %>
<% var locale = concert.locale() %>
<a href="/#/artists/<%= artist.id %>"><%= artist.escape('name') %></a>
<%= concert.escape('date') %>
<a href="/#/locales/<%= locale.id %>">
  <%= locale.escape('city') %>, <%= locale.escape('state') %>
</a>
<% if (ids && ids.indexOf(concert.id) === -1) { %>
  <button class="track">Track event</button>
<% } else { %>
  <button class="untrack">Stop tracking</button>
<% } %>
