<div class="main group sign-up">
  <div class="sidebar">
    <ul class="benefits">
      <li>Track concerts for your favorite bands in one convenient place.</li>
      <li>See when they play shows near you.</li>
      <li>See and upload photos from past concerts.</li>
    </ul>
    <p>Already signed up? <a href="<%= new_session_url %>">Log in here</a></p>
  </div>

  <div class="sign-up-content">
    <h1>Track your favorite artists and never miss them live.</h1>
      <div class="field group">
        <form action="<%= session_url %>" method="post">
        <%= render 'shared/auth_token' %>
        <input type="hidden" name="user[username_or_email]" value="guest">
        <input type="hidden" name="user[password]" value="password">
        <input type="submit" class= "guest" value="Sign in as Guest user.">
        </form>
      </div>
    <h2>Sign up with your email address.</h2>

      <form action="<%= users_url %>" method="post">
        <%= render 'shared/auth_token' %>
        <div class="field group">
          <p>Email: </p>
          <input type="email"
                     name="user[email]">
        </div>

        <div class="field group">
          <p>Username: </p>
          <input type="text"
                 name="user[username]">
        </div>

        <div class="field group">
          <p>Password: </p>
          <input type="password"
                        name="user[password]">
        </div>

        <div class="field group">
          <button>Sign up for free</button>
        <a href="/auth/twitter">
          <img src="/assets/images/button.png" class="twitter">
        </a>
        </div>
      </form>
  </div>
</div>
