<li class="date"><h3><%= concert.escape('date') %></h3></li>
<span class="info-box">
  <li><a href="#/concerts/<%= concert.id %>">
    <%= artist.escape('name') %>
    <%= locale.escape('city') %>, <%= locale.escape('state') %>
  </a></li>
  <% if (ids && ids.indexOf(concert.id) === -1) { %>
    <button class="track track-concert">Track event</button>
  <% } else { %>
    <button class="untrack untrack-concert">Stop tracking</button>
  <% } %>
</span>
