<!DOCTYPE html>
<html>
<head>
  <title>Encore</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> -->
</head>
<body>

  <%= flash[:errors].join("<br>") if flash[:errors] %><br>
  <% if logged_in? %>
  logged in as <%= current_user.username %>
  <form action="<%= session_url %>" method="post">
    <%= render 'shared/auth_token' %>
    <input type="hidden"
           name="_method"
           value="delete">
   <input type="submit" value="log out">
  </form>
  <% else %>
  You are not logged in.
  <% end %><br>
  <a href="<%= root_url %>">ENCORE</a>
<%= yield %>

</body>
</html>
